.Home_curses_container {
  padding: 80px 5%;
  max-width: 1200px;
  margin: 0 auto;
  h2 {
    font-size: 32px;
    position: relative;
    line-height: 60px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 150px;
      border-bottom: 4px solid var(--dark-pourple);

    }
  }

  .card_section {
    margin: 50px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 1170px) {
    .card_section {
      justify-content: space-around;
    }
  }
}